body {
    background-image: url('../img/fondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #f0f0f0;
}

.boton{
    padding: 10px 20px;
    border-radius: 25px; /* Bordes redondeados */
    background-color: #0D0D0D; /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 16px;
    cursor: pointer;
}
.boton:hover{
    transition: color 1.s; 
    background-color: #011126;
    color: white;
}

.fondo{
    background-image: url('../img/fondo-abstracto-blanco.jpg');
    background-size: cover;
}
.custom-container {
    max-width: 1300px; /* Ajusta el ancho máximo según sea necesario */
    margin: auto; /* Centra el contenedor */
    padding: 20px; /* Agrega espacio interno */
    background-image: url(../img/fondo-abstracto-blanco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    border: none;
}

.user-images {
    margin-bottom: 20px;
}

.btn-block {
    margin-top: 10px;
}

.container-lg {
    max-width: 400px;
}

.login-form {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form img {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.img-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2); /* Sombra de la imagen */
}