body {     
    background-image: url('https://img.freepik.com/vector-premium/fondos-abstractos-formas-geometricas-dibujar-mano-formas-liquidas-colores-pastel_147635-272.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}