@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
:root{
    --color-barra-lateral:#011126;

    --color-texto:#55C1D9;
    --color-texto-menu:#D5EDF2;

    --color-menu-hover:rgb(238,238,238);
    --color-menu-hover-texto:rgb(0,0,0);

    --color-boton:rgb(0,0,0);
    --color-boton-texto:rgb(255,255,255);

    --color-linea:rgb(180,180,180);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
}

body{
    background-color: #D5EDF2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/* /-----------------Menu/ */
.menu{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    right: 15px;
    top: 15px;
    z-index: 100;
}


/* /----------------Barra Lateral/ */
.barra-lateral{
    position: fixed;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: auto;
    left: 0;
    height: 100%;
    width: 250px; /* Ajusta el ancho según tus necesidades */
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease,background-color 0.3s ease,left 0.5s ease;
    z-index: 50;
}

.mini-barra-lateral{
    width: 80px;
}
.barra-lateral span{
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease,width 0.5s ease;
}
.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}

/*------------> Nombre de la página */
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    color: var(--color-texto);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.barra-lateral .nombre-pagina ion-icon{
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}
.barra-lateral .nombre-pagina span{
    margin-left: 5px;
    font-size: 25px;
}

/* 
/------------> Botón/ */
.barra-lateral .boton{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
}
.barra-lateral .boton ion-icon{
    min-width: 50px;
    font-size: 25px;
}


/* /--------------> Menu Navegación/ */
.barra-lateral .navegacion{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0px;
}
.barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}
.barra-lateral .navegacion li{  
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}
.barra-lateral .navegacion a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto-menu);
}
.barra-lateral .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}
.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 20px;
}

/* /-----------------> Linea/ */
.barra-lateral .linea{
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: var(--color-linea);
}


/* /---------------> Usuario/ */
.barra-lateral .usuario{
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 25%;
}
.barra-lateral .usuario img{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
    background-color: white;
}
.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
    bottom: 0%;
}
.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}
.barra-lateral .usuario .email{
    font-size: 13px;
}
.barra-lateral .usuario ion-icon{
    font-size: 20px;
}


/* /-------------main/ */

#inbox{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

main{
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main.min-main{
    margin-left: 80px;
}
/* responsive */
@media (max-height: 660px){
    .barra-lateral .nombre-pagina{
        margin-bottom: 5px;
    }
    .barra-lateral .modo-oscuro{
        margin-bottom: 3px;
    }
}
@media (max-width: 600px){
    .barra-lateral{
        position: fixed;
        left: -250px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }
    
}

.logo{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}

/* Estilos generales para los botones */
.boton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px; /* Ajusta el padding según tus necesidades */
    border-radius: 5px; /* Ajusta el radio del borde según tus necesidades */
    font-size: 16px; /* Ajusta el tamaño de fuente según tus necesidades */
    background: #011126;
    cursor: pointer;
    color: #5CC8F2;
}

.boton:hover{
    text-decoration: none;
    background-color: #D5EDF2;
    color: #011126;
}
a{
    text-decoration: none;
}

/* Estilos específicos para el botón con el ícono */
.icono {
    position: relative;
    width: auto; /* Ajusta el ancho del botón según tus necesidades */
    height: auto; /* Ajusta la altura del botón según tus necesidades */
    font-size: 20px; /* Ajusta el tamaño del ícono según tus necesidades */
}

/* Estilos para el ícono dentro del botón */
.icono:hover ion-icon {
    color: #011126; /* Ajusta el color del ícono según tus necesidades */
}

.boton-flotante {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde el borde inferior según sea necesario */
    right: 20px;  /* Ajusta la distancia desde el borde derecho según sea necesario */
    z-index: 1000; /* Asegura que el botón esté encima de otros elementos */
    background-color: #011126;
    color: #5CC8F2;
    border: none; /* Elimina el borde predeterminado */
    border-radius: 50%; /* Hace el botón redondeado */
    width: 60px; /* Ancho del botón */
    height: 60px; /* Altura del botón */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra del botón */
}

.boton-flotante:hover{
    background-color: #ffffff;
    color: #011126;
}

/* Estilos para el elemento desplegable */
.menu-item {
    position: relative;
}

/* Inicialmente, oculta el submenú */
.submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
}

/* Muestra el submenú cuando el menú está activo */
.menu-item.active .submenu {
    display: block;
}

/* Estilos para los íconos de chevron */
.chevron-icon {
    margin-left: auto;
    transition: transform 0.3s ease;
}

/* Rotar el ícono hacia arriba cuando el menú está activo */
.menu-item.active .chevron-icon[name="chevron-down-outline"] {
    transform: rotate(180deg);
}

/* Estilos adicionales para el ícono desplegable */
.menu-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-texto-menu);
}


/* Estilos para el contenedor del slider */
.slider-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

/* Estilos para el slider */
.slider-container {
    margin-top: 10px;
    width: 100%;
}

.slider-container input[type="range"] {
    width: 100%;
}

.slider-container label {
    margin-top: 5px;
    color: var(--color-texto-menu);
}

/* Estilo adicional para el valor del slider */
.slider-container #slider-value {
    font-weight: bold;
}

.card-custom {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.card-custom:hover {    
    transform: translateY(-15px);
    box-shadow: 12px 16px rgba(0, 0, 0, 0.2);
}

.card-text{
    left: 5px;
}

.card-body{
    background: #011126;
    color: #5CC8F2;
    height: 100%;
}

.yeyito{
    position: relative;
    width: 30px; /* Ajusta el ancho del botón según tus necesidades */
    height: 30px; /* Ajusta la altura del botón según tus necesidades */
    font-size: 20px; /* Ajusta el tamaño del ícono según tus necesidades */
}
.yeyito:hover{
    position: relative;
    width: 32px; /* Ajusta el ancho del botón según tus necesidades */
    height: 32px; /* Ajusta la altura del botón según tus necesidades */
    font-size: 20px; /* Ajusta el tamaño del ícono según tus necesidades */
    color:#011126
}
.range-slider {
    display: flex;
    align-items: center;
}
#price-range {
    width: 100%;
    margin: 0 10px;
}
.range-slider span {
    width: 50px;
    text-align: center;
}
.is-hidden {
    display: none;
}