body{
    background: url(../img/fondo.jpeg);
}

.custom-container {
    max-width: 1300px;
    margin: auto;
    padding: 20px;
    background-image: url(../img/fondo-abstracto-blanco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
